.header5{
    min-height: 75vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/cupcake.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box5{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box5 h1{
    font-size: 62px;
}

/* checkout page */

body{
    display: block;
}

.form{
    width: 100%;
    padding: 20px 10vw;
}

.heading2{
    text-transform: capitalize;
    font-size: 500;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.text{
    margin-bottom: 40px;
}